<div class="card shadow mb-4">
  <div class="card-header py-3 d-flex justify-content-between align-items-center">
    <h3 class="m-0 font-weight-bold">Data Pembelian</h3>
    <a
      id="add"
      href="/inbound/form"
      class="modal-open btn btn-primary btn-round"
      type="submit"
      data-placement="bottom"
      title="Tambah Data"
    >
      <i class="bx bxs-file-plus"></i> Tambah Data
    </a>
  </div>
  <div class="card-body">
    <%- include('../dateRange'); %>

    <div class="table-responsive mt-3">
      <table
        class="table table-bordered table-hover display nowrap"
        style="width: 100%"
        id="dataTable"
        edit="true"
        delete="true"
        withQuery="true"
      >
        <thead class="thead-dark">
          <tr>
            <th key="id" render-col="transactionNumber">No Invoice</th>
            <th key="transactionDate" render="dateTime" search="false">Tanggal Transaksi</th>
            <th key="totalPrice" render="currency">Total Transaksi</th>
            <th key="detail" search="false" sort="false">Detail Pembelian</th>
            <th key="soldAmount" search="false" sort="false">Terjual</th>
            <th key="currentStock" search="false" sort="false">Sisa</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>

<%- include('../toast'); %>
