<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="card p-5">
  <div class="mb-4">
    <%- include('./dateRange'); %>
  </div>

  <div class="row justify-content-center">
    <% cardInfo.forEach(card => { %>
      <div class="col-4">
        <div class="card shadow-lg">
          <div class="card-header">
            <h4 class="card-title mb-0"><%= card.title %></h4>
          </div>
          <div class="card-body">
            <p class="card-text display-6 text-center mt-2"><%= card.value %></p>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
  
  <h3 class="my-5">Grafik Penjualan Produk</h3>
  <div>
    <canvas id="myChart"></canvas>
  </div>
</div>

<script>
  let data = '<%- JSON.stringify(productSales) %>'
  data = JSON.parse(data)
  console.log(data)
  const ctx = document.getElementById('myChart').getContext('2d');
  const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: data.map(item => item.name),
      datasets: [{
        label: 'Total Terjual',
        data: data.map(item => item.totalSold),
        backgroundColor: 'rgba(54, 162, 235, 0.2)',
        borderColor: 'rgba(54, 162, 235, 1)',
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>