<!doctype html>
<html lang="en" class="light-style layout-menu-fixed" data-template="vertical-menu-template-free">
  <head>
    <%- include('./head'); %>
    <link rel="stylesheet" href="/vendor/css/pages/page-auth.css" />
  </head>

  <body>
    <%- body %>
    <!-- / Layout wrapper -->
    <%- include('./footer'); %>
  </body>
</html>
