<!doctype html>
<html lang="en" class="light-style layout-menu-fixed" data-template="vertical-menu-template-free">
  <head>
    <%- include('./head'); %>
  </head>

  <body>
    <!-- Layout wrapper -->
    <%- include('./nav'); %>
    <!-- / Layout wrapper -->
    <%- include('./script'); %>
  </body>
</html>
